{% block content %}

<form action="{{url_for('search_videos')}}" method="GET">
    {{ form.search.label() }}{{ form.search() }}<br>
</form>

<form method="POST">
    {{ form.channel.label() }}{{ form.channel() }}<br>
    {{ form.submit() }}
    {{ form.hidden_tag() }}
</form>

{% endblock %}

<ul>
    <li><a href="{{ url_for('home')}}">Home Search.</a></li>
    <li><a href="{{ url_for('all_channels')}}">See all channels.</a></li>
    <li><a href="{{ url_for('all_videos') }}">See all videos.</a></li>
</ul>

